.btn,
a.btn {
	display: inline-block;
	padding: 8px;
	min-width: 185px;
	height: 40px;
	background-color: var(--white);
	color: var(--black);
	font-size: 14px;
	line-height: 1.71;
	text-transform: capitalize;
	text-align: center;
	transition: background-color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--neutral-grayededed);
		}
	}

	@include mobile {
		padding: 8px 16px;
		min-width: unset;
	}

	&--small {
		min-width: unset;
		padding-left: 15px;
		padding-right: 15px;
	}

	&--mobile-wide {
		@include mobile {
			min-width: unset;
			width: 100%;
			text-align: left;
		}
	}
}

a.btn-outline,
.btn-outline {
	display: inline-block;
	border: 1px solid var(--primary-primary-600);
	padding: 8px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	font-size: 14px;
	line-height: 1.71;
	text-transform: capitalize;
	color: var(--primary-primary-600);
	transition: color 0.3s ease 0s;


	@media (any-hover: hover) {
		&:hover {
			color: var(--primary-primary-700);
		}
	}
}