.btn,
a.btn {
	padding: 8px;
	min-width: 185px;
	height: 40px;
	background: var(--white);
	color: var(--black);
	font-size: 14px;
	line-height: 1.71;
	text-transform: capitalize;
	text-align: center;
}