.btn,
a.btn {
	display: inline-block;
	padding: 8px;
	min-width: 185px;
	height: 40px;
	background: var(--white);
	color: var(--black);
	font-size: 14px;
	line-height: 1.71;
	text-transform: capitalize;
	text-align: center;

	&--small {
		min-width: unset;
		padding-left: 15px;
		padding-right: 15px;
	}
}