.color {
	width: 24px;
	height: 24px;
	background-color: gray;
	border-radius: 50%;

	@include tablet {
		width: 16px;
		height: 16px;
	}

	&--black {
		background-color: var(--black);
	}

	&--blue {
		background-color: #7dc3eb;
	}

	&--green {
		background-color: var(--primary);
	}

	&--olive {
		background-color: #909225;
	}

	&--navy {
		background-color: #19418e;
	}

	&--pink {
		background-color: #d0a5ea;
	}

	&--white {
		background-color: var(--white);
		border: 1px solid #d0d0d0;
	}
}