.footer {
	margin-top: 88px;
	padding: 24px 0;
	background-color: #000;

	@include mobile {
		margin-top: 24px;
		padding: 8px 0;
	}

	&__copyright {
		font-size: 12px;
		line-height: 1.8;
		text-transform: capitalize;
		color: var(--neutral-graycbcbcb);
	}
}