.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--search {
	fill: var(--black);
}

.icon--person {
	fill: var(--black)
}

.icon--favorite {
	stroke: var(--black);
	fill: var(--white);
	transition: all 0.2s ease 0s;
}

.icon--bag {
	fill: var(--black);
}

.icon--arrow-down {
	fill: var(--black);
}