.nav {
	font-size: 18px;
	line-height: 1.8;
	text-transform: capitalize;
	text-align: center;
	color: var(--neutral-gray404040);

	@include tablet {
		font-size: 16px;
	}

	&__list {
		display: flex;
		column-gap: 30px;
		row-gap: 10px;

		@include tablet {
			column-gap: 15px;
		}
	}

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.nav__link {
					color: var(--black);
				}
			}
		}
	}

	&__link {
		color: var(--neutral-gray404040);
		transition: color 0.3s ease 0s;

		&.active {
			color: var(--black);
		}
	}
}